<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Исследование-надежности-заемщиков" data-toc-modified-id="Исследование-надежности-заемщиков-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Исследование надежности заемщиков</a></span><ul class="toc-item"><li><span><a href="#Обзор-данных" data-toc-modified-id="Обзор-данных-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Обзор данных</a></span></li><li><span><a href="#Предобработка-данных" data-toc-modified-id="Предобработка-данных-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Предобработка данных</a></span><ul class="toc-item"><li><span><a href="#Удаление-пропусков" data-toc-modified-id="Удаление-пропусков-1.2.1"><span class="toc-item-num">1.2.1&nbsp;&nbsp;</span>Удаление пропусков</a></span></li><li><span><a href="#Обработка-аномальных-значений" data-toc-modified-id="Обработка-аномальных-значений-1.2.2"><span class="toc-item-num">1.2.2&nbsp;&nbsp;</span>Обработка аномальных значений</a></span></li></ul></li><li><span><a href="#Изменение-типов-данных" data-toc-modified-id="Изменение-типов-данных-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Изменение типов данных</a></span></li><li><span><a href="#Обработка-дубликатов" data-toc-modified-id="Обработка-дубликатов-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>Обработка дубликатов</a></span></li><li><span><a href="#Категоризация-данных" data-toc-modified-id="Категоризация-данных-1.5"><span class="toc-item-num">1.5&nbsp;&nbsp;</span>Категоризация данных</a></span></li><li><span><a href="#Исследование-данных" data-toc-modified-id="Исследование-данных-1.6"><span class="toc-item-num">1.6&nbsp;&nbsp;</span>Исследование данных</a></span><ul class="toc-item"><li><span><a href="#Есть-ли-зависимость-между-количеством-детей-и-возвратом-кредита-в-срок?" data-toc-modified-id="Есть-ли-зависимость-между-количеством-детей-и-возвратом-кредита-в-срок?-1.6.1"><span class="toc-item-num">1.6.1&nbsp;&nbsp;</span>Есть ли зависимость между количеством детей и возвратом кредита в срок?</a></span></li><li><span><a href="#Есть-ли-зависимость-между-семейным-положением-и-возвратом-кредита-в-срок?" data-toc-modified-id="Есть-ли-зависимость-между-семейным-положением-и-возвратом-кредита-в-срок?-1.6.2"><span class="toc-item-num">1.6.2&nbsp;&nbsp;</span>Есть ли зависимость между семейным положением и возвратом кредита в срок?</a></span></li><li><span><a href="#Есть-ли-зависимость-между-уровнем-дохода-и-возвратом-кредита-в-срок?" data-toc-modified-id="Есть-ли-зависимость-между-уровнем-дохода-и-возвратом-кредита-в-срок?-1.6.3"><span class="toc-item-num">1.6.3&nbsp;&nbsp;</span>Есть ли зависимость между уровнем дохода и возвратом кредита в срок?</a></span></li><li><span><a href="#Как-разные-цели-кредита-влияют-на-его-возврат-в-срок?" data-toc-modified-id="Как-разные-цели-кредита-влияют-на-его-возврат-в-срок?-1.6.4"><span class="toc-item-num">1.6.4&nbsp;&nbsp;</span>Как разные цели кредита влияют на его возврат в срок?</a></span></li><li><span><a href="#причины-появления-пропусков-в-исходных-данных" data-toc-modified-id="причины-появления-пропусков-в-исходных-данных-1.6.5"><span class="toc-item-num">1.6.5&nbsp;&nbsp;</span>причины появления пропусков в исходных данных</a></span></li><li><span><a href="#заполнить-пропуски-медианным-значением-—-лучшее-решение-для-количественных-переменных" data-toc-modified-id="заполнить-пропуски-медианным-значением-—-лучшее-решение-для-количественных-переменных-1.6.6"><span class="toc-item-num">1.6.6&nbsp;&nbsp;</span>заполнить пропуски медианным значением — лучшее решение для количественных переменных</a></span></li></ul></li><li><span><a href="#общий-вывод" data-toc-modified-id="общий-вывод-1.7"><span class="toc-item-num">1.7&nbsp;&nbsp;</span>общий вывод</a></span></li></ul></li></ul></div>

# Исследование надежности заемщиков

На основе статистики о платёжеспособности клиентов исследовать влияет ли семейное положение и количество детей клиента на факт возврата кредита в срок.

## Обзор данных

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('datasets\data.csv')

In [3]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

In [7]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

In [9]:
sotr = data.groupby('income_type')['total_income'].mean()
print(sotr)

income_type
безработный        131339.751676
в декрете           53829.130729
госслужащий        170898.309923
компаньон          202417.461462
пенсионер          137127.465690
предприниматель    499163.144947
сотрудник          161380.260488
студент             98201.625314
Name: total_income, dtype: float64

In [10]:
sotr = data.groupby('income_type')['total_income'].median()
income_type = data['income_type'].unique()
for it in income_type:
    ti = sotr.loc[it]
    data.loc[(data['income_type'] == it) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == it) & (data['total_income'].isna()), 'total_income'].fillna(ti)
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income           0
purpose                0
dtype: int64

### Обработка аномальных значений

In [12]:
data['days_employed'] = data['days_employed'].abs()

In [13]:
data.groupby('income_type')['days_employed'].median()

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставим их как есть. Тем более этот столбец не понадобится нам для исследования.

In [14]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5], dtype=int64)

В столбце children есть два аномальных значения.

In [15]:
data.drop(data[data['children'] == -1].index, inplace=True)
data.drop(data[data['children'] == 20].index, inplace=True)

In [16]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5], dtype=int64)

Заполним пропуски в столбце days_employed медианными значениями по каждому типу занятости income_type.

In [17]:
income_type = data['income_type'].unique()
sotr = data.groupby('income_type')['days_employed'].median()
for it in income_type:
    ti = sotr.loc[it]
    print(it, ti)
    data.loc[(data['income_type'] == it) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == it) & (data['days_employed'].isna()), 'days_employed'].fillna(ti)

сотрудник 1572.328284580025
пенсионер 365286.6226495429
компаньон 1555.947386945053
госслужащий 2689.1372742032745
безработный 366413.65274420456
предприниматель 520.8480834953765
студент 578.7515535382181
в декрете 3296.7599620220594

In [18]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

## Изменение типов данных

In [20]:
data['total_income'] = data['total_income'].astype('int')

## Обработка дубликатов

In [21]:
data['education'] = data['education'].str.lower()

In [22]:
data.duplicated().sum()

71

In [23]:
data = data.drop_duplicates()

## Категоризация данных

кредитополучателю с доходом 25000 нужно назначить категорию 'E', а клиенту, получающему 235000, — 'B'.

In [24]:
def categorize_income(row):
    if row <= 30000:
        return 'E'
    if row <= 50000:
        return 'D'
    if row <= 200000:
        return 'C'
    if row <= 1000000:
        return 'B'
    if row > 1000001:
        return 'A'

In [25]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

In [27]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

Создадим функцию, которая на основании данных из столбца purpose сформирует новый столбец purpose_category, в который войдут следующие категории:

'операции с автомобилем',
'операции с недвижимостью',
'проведение свадьбы',
'получение образования'.

In [28]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [29]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

## Исследование данных

### Есть ли зависимость между количеством детей и возвратом кредита в срок?

In [31]:
data.groupby('children')['debt'].agg(['count', 'sum', 'mean']
                                    ).sort_values(by = 'mean', ascending = False)

          count   sum      mean
children
4            41     4  0.097561
2          2052   194  0.094542
1          4808   444  0.092346
3           330    27  0.081818
0         14091  1063  0.075438
5             9     0  0.000000

**Вывод:**  отвественность заёмщика растёт с количеством детей :)
        В данных присутствует небольшое кол-во заёмщиков с 5-ю детьми, для анализа - мало.
        Во всех остальных случаях доля просрочек примерно одинакова. Заёмщики без детей находятся в середине списка.

### Есть ли зависимость между семейным положением и возвратом кредита в срок?

In [32]:
print(data.groupby('family_status')['debt'].count())
print()
print(data.groupby('family_status')['debt'].sum())
print()
print(data.groupby('family_status')['debt'].sum() / data.groupby('family_status')['debt'].count())
print()
debt = data.groupby('family_status')['debt'].sum() / data.groupby('family_status')['debt'].count()
print(debt.mean())
print(debt.median())

family_status
Не женат / не замужем     2796
в разводе                 1189
вдовец / вдова             951
гражданский брак          4134
женат / замужем          12261
Name: debt, dtype: int64

family_status
Не женат / не замужем    273
в разводе                 84
вдовец / вдова            63
гражданский брак         385
женат / замужем          927
Name: debt, dtype: int64

family_status
Не женат / не замужем    0.097639
в разводе                0.070648
вдовец / вдова           0.066246
гражданский брак         0.093130
женат / замужем          0.075606
Name: debt, dtype: float64

0.0806537727505276
0.07560557866405676

**Вывод:** Люди состоявшие в браке ранее более ответственны. Не бывавшие в браке чаще допускают просрочки. Состоящие в официальном браке заёмщики дают медианное значение.

### Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

In [33]:
print(data.groupby('total_income_category')['debt'].count())
print()
print(data.groupby('total_income_category')['debt'].sum())
print()
print(data.groupby('total_income_category')['debt'].sum() / data.groupby('total_income_category')['debt'].count())
print()
debt = data.groupby('total_income_category')['debt'].sum() / data.groupby('total_income_category')['debt'].count()
print(debt.mean())
print(debt.median())

total_income_category
A       25
B     5014
C    15921
D      349
E       22
Name: debt, dtype: int64

total_income_category
A       2
B     354
C    1353
D      21
E       2
Name: debt, dtype: int64

total_income_category
A    0.080000
B    0.070602
C    0.084982
D    0.060172
E    0.090909
Name: debt, dtype: float64

0.07733308466327596
0.08

In [34]:
pd.qcut(data['total_income'], 4)

0        (195842.0, 2265604.0]
1         (107507.0, 142594.0]
2         (142594.0, 195842.0]
3        (195842.0, 2265604.0]
4         (142594.0, 195842.0]
                 ...
21520    (195842.0, 2265604.0]
21521     (142594.0, 195842.0]
21522    (20666.999, 107507.0]
21523    (195842.0, 2265604.0]
21524    (20666.999, 107507.0]
Name: total_income, Length: 21331, dtype: category
Categories (4, interval[float64, right]): [(20666.999, 107507.0] < (107507.0, 142594.0] < (142594.0, 195842.0] < (195842.0, 2265604.0]]

**Вывод:** Самые добросовестные заёмщики с уровнем дохода 30 - 50 тыс. Люди с низким уровнем дохода, ожидаемо, в лидерах антирейтинга. Люди с высоким уровнем дохода достаточно лояльно относятся к своим мелким проступкам, поэтому просрочки по платежам у них встречаются. Люди со средним уровнем - в медиане. Люди с достатком выше среднего - наиболее экономически активны и берут наибольшее кол-во кредитов Если убрать из выборки крайние (малочисленные) категории, то достаток "выше среднего" - медиана.

### Как разные цели кредита влияют на его возврат в срок?

In [35]:
print(data.groupby('purpose_category')['debt'].count())
print()
print(data.groupby('purpose_category')['debt'].sum())
print()
print(data.groupby('purpose_category')['debt'].sum() / data.groupby('purpose_category')['debt'].count())
print()
debt = data.groupby('purpose_category')['debt'].sum() / data.groupby('purpose_category')['debt'].count()
print(debt.mean())
print(debt.median())

purpose_category
операции с автомобилем       4279
операции с недвижимостью    10751
получение образования        3988
проведение свадьбы           2313
Name: debt, dtype: int64

purpose_category
операции с автомобилем      400
операции с недвижимостью    780
получение образования       369
проведение свадьбы          183
Name: debt, dtype: int64

purpose_category
операции с автомобилем      0.093480
операции с недвижимостью    0.072551
получение образования       0.092528
проведение свадьбы          0.079118
Name: debt, dtype: float64

0.08441919671185735
0.08582280564130784

**Вывод:** Ожидаемо: автомобили и образование - более высокорисковые цели, т.к. покупка авто в кредит, говорит о незрелости экономического субъекта, а возврат образовательного кредита зависит от посторонних факторов, на кот. студент не влияет. Неожиданна цифра по свадебным кредитам (объяснения нет). А вот недвижимость, как и предполагалось, приобретают заёмщики для "игры в долгую" и им бы не хотелось потерять её из-за невозврата кредита.

### причины появления пропусков в исходных данных

непредоставление данных потенциальным заёмщиком. Конечно, кол-во раб. дней может и не заполнить сотр. банка, т.к. это не самая важная метрика, а вот ЗП - критично важно знать, поэтому здесь только клиентское нежелание. Некорректную выгрузку, в данном случае, я не рассматриваю, т.к. нет пропусков в других данных.

### заполнить пропуски медианным значением — лучшее решение для количественных переменных

Средняя температура по больнице всегда 36.6. Медиана, в данном случае, точнее отражает наборы данных.

## общий вывод

Идеальный заёмщик: состоящий в браке, без детей, с уровнем дохода выше среднего, покупающий недвижимость.

In [36]:
data.groupby('family_status')['debt'].agg(['count', 'sum', 'mean']
                                    ).sort_values(by = 'mean', ascending = False)

                       count  sum      mean
family_status
Не женат / не замужем   2796  273  0.097639
гражданский брак        4134  385  0.093130
женат / замужем        12261  927  0.075606
в разводе               1189   84  0.070648
вдовец / вдова           951   63  0.066246

In [37]:
data.groupby('children')['debt'].agg(['count', 'sum', 'mean']
                                    ).sort_values(by = 'mean', ascending = False)

          count   sum      mean
children
4            41     4  0.097561
2          2052   194  0.094542
1          4808   444  0.092346
3           330    27  0.081818
0         14091  1063  0.075438
5             9     0  0.000000

In [38]:
data.groupby('total_income_category')['debt'].agg(['count', 'sum', 'mean']
                                    ).sort_values(by = 'mean', ascending = False)

                       count   sum      mean
total_income_category
E                         22     2  0.090909
C                      15921  1353  0.084982
A                         25     2  0.080000
B                       5014   354  0.070602
D                        349    21  0.060172

In [39]:
data.groupby('purpose_category')['debt'].agg(['count', 'sum', 'mean']
                                    ).sort_values(by = 'mean', ascending = False)

                          count  sum      mean
purpose_category
операции с автомобилем     4279  400  0.093480
получение образования      3988  369  0.092528
проведение свадьбы         2313  183  0.079118
операции с недвижимостью  10751  780  0.072551